# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# Build output
dist/
build/

# Dependency directories
bower_components/

# IDE files (e.g., VSCode)
.vscode/

# Package distribution
*.tgz

# Temporary files
*.swp
*.swo
